/* Home page styles */

/* Set background color for the whole page */
body.home {
    background-image: url('src/assets/Homepage.jpg');
    background-size: cover;
}

/* Style for the main heading */
.home-container > h1 {
    color: #f8f8f8;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90px;
    text-decoration: underline;
}

.home-container > p {
    font-size: 30px;
    color: #f8f8f8;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Style for the main content section */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 2rem;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #555;
}

.home-container{
    margin-top: 200px;
    text-align: center;
    position: relative;
}